<%
var page = 'sidebar';
var title = 'Sidebar';
%>
@@include('app/ejs/_include/head.ejs')
@@include('app/ejs/_include/header.ejs')

<!-- ここからコンテナ部分（メインコンテンツ＋サイドバー） -->
<div class="l-container--middle">
	<div class="l-container--main">
		<p>a</p>
		<p>a</p>
		<p>a</p>
		<p>a</p>
		<p>a</p>
		<p>a</p>
		<p>a</p>
		<p>a</p>
		<p>a</p>
		<p>a</p>
		<p>a</p>
	</div>
	<div class="l-container--side">
		<p>aaa</p>
		<p>aaa</p>
		<p>aaa</p>

		<p>aaa</p>
		<p>aaa</p>
		<p>aaa</p>
		<p>aaa</p>
	</div>
</div>
  @@include('app/ejs/_include/footer.ejs')
