<%
var page = 'top';
var title = 'トップページ';
%>
@@include('app/ejs/_include/head.ejs')
@@include('app/ejs/_include/header.ejs')

<!-- _tab.scss -->
<div class="l-wrap l-container--middle">
  <div class="l-container--main">
  <section class="p-news">
    <div class="c-tab">
      <ul class="c-tab__nav">
        <li class="c-tab__nav__item is-active" data-tab="1" data-js="change-tab">タブ1</li>
        <li class="c-tab__nav__item" data-tab="2" data-js="change-tab">タブ2</li>
        <li class="c-tab__nav__item" data-tab="3" data-js="change-tab">タブ3</li>
      </ul>
      <div class="c-tab__content__outer">
        <div class="c-tab__content" data-tab-content="1">
          <div class="c-tab__content__inner">
            <h3>TOPIC COMPONENT</h3>
            <ul class="c-topics__list">
              <li class="c-topics__item">
                <time class="c-topics__date" datetime="YYYY-mm-dd">2017.10.19</time>
                <div class="c-topics__label">カテゴリ</div>
                <div class="c-topics__title"><a href="/DUMMY">記事タイトルが入ります。記事タイトルが入ります。</a></div>
              </li>
              <li class="c-topics__item">
                <time class="c-topics__date" datetime="YYYY-mm-dd">2017.10.19</time>
                <div class="c-topics__label">カテゴリ</div>
                <div class="c-topics__title"><a href="/DUMMY">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</a></div>
              </li>
              <li class="c-topics__item">
                <time class="c-topics__date" datetime="YYYY-mm-dd">2017.10.19</time>
                <div class="c-topics__label">カテゴリ</div>
                <div class="c-topics__title"><a href="/DUMMY">記事タイトルが入ります。記事タイトルが入ります。</a></div>
              </li>
              <li class="c-topics__item">
                <time class="c-topics__date" datetime="YYYY-mm-dd">2017.10.19</time>
                <div class="c-topics__label">カテゴリ</div>
                <div class="c-topics__title"><a href="/DUMMY">記事タイトルが入ります。記事タイトルが入ります。</a></div>
              </li>
              <li class="c-topics__item">
                <time class="c-topics__date" datetime="YYYY-mm-dd">2017.10.19</time>
                <div class="c-topics__label">カテゴリ</div>
                <div class="c-topics__title"><a href="/DUMMY">記事タイトルが入ります。記事タイトルが入ります。</a></div>
              </li>
            </ul>
          </div>
        </div>
        <!--  /.c-tab__content -->
        <div class="c-tab__content" data-tab-content="2">
          <div class="c-tab__content__inner">
            <!-- LINK -->
            <h3>LINK COMPONENT</h3>
            <article class="c-article">
              <p>テキストが入っています。テキストが入っています。<a href="/DUMMY">テキストリンク</a>テキストが入っています。</li>
              <ul class="c-list--link">
                <li><a href="/DUMMY"><i class="c-link__icon c-list__icon -front fa fa-caret-right"></i>矢印リンク矢印リンク矢印リンク</a></li>
                <li><a href="/DUMMY"><i class="c-link__icon c-list__icon -front fa fa-caret-right"></i>別窓リンク別窓リンク別窓リンク別窓リンク<i class="c-link__icon -rear fa fa-window-restore"></i></a></li>
                <li><a href="/DUMMY"><i class="c-link__icon c-list__icon -front fa fa-caret-right"></i>PDFリンクPDFリンクPDFリンクPDFリンク(532KB)<i class="c-link__icon -rear fa fa-file-pdf-o"></i></a></li>
              </ul>
            </article>
          </div>
        </div>
        <!-- /.c-tab__content -->
        <div class="c-tab__content" data-tab-content="3">
          <div class="c-tab__content__inner">
            <!-- リスト -->
            <h3>リスト</h3>
            <ul class="c-list--disc">
              <li>リストです。リストです。リストです。リストです。リストです。リストです。</li>
              <li>リストです。リストです。リストです。リストです。リストです。リストです。</li>
              <li>リストです。リストです。リストです。リストです。リストです。リストです。リストです。リストです。リストです。リストです。リストです。リストです。</li>
            </ul>

            <!-- Toggle -->
            <h3>Toggle</h3>
            <div class="c-form__inner">
              <ul class="c-form-toggle__list">
                <li><label><input type="radio" name="radio1" value="" class="c-form-toggle__radio">選択肢その1</label></li>
                <li><label><input type="radio" name="radio1" value="" class="c-form-toggle__radio">選択肢その2</label></li>
                <li><label><input type="radio" name="radio1" value="" class="c-form-toggle__radio">選択肢その3</label></li>
              </ul>
            </div>

            <div class="c-form__inner">
              <ul class="c-form-toggle__list--inline">
                <li><label><input type="radio" name="radio2" value="" class="c-form-toggle__radio">選択肢その1</label></li>
                <li><label><input type="radio" name="radio2" value="" class="c-form-toggle__radio">選択肢その2</label></li>
                <li><label><input type="radio" name="radio2" value="" class="c-form-toggle__radio">選択肢その3</label></li>
              </ul>
            </div>
          </div>
          <!-- /.c-tab__content -->
        </div>
        <!-- /.c-tab__content__outer -->
      </div>
      <!-- /.c-tab -->
    </section>
    <section>

    </section>
  </div>
  <!-- /.l-container--main -->

<div class="l-container--side">
  <p>aaa</p>
  <p>aaa</p>
  <p>aaa</p>

  <p>aaa</p>
  <p>aaa</p>
  <p>aaa</p>
  <p>aaa</p>
</div>
<!-- /.l-container--side -->
</div>
</div>
@@include('app/ejs/_include/footer.ejs')