<%
var page = 'blog';
var title = '管理者ブログ';
%>
@@include('app/ejs/_include/head.ejs')
@@include('app/ejs/_include/header.ejs')

<div class="l-container--huge p-post">
  <div class="c-title">
    <h1 class="c-title__txt">ブログ</h1>
  </div>
  <article class="c-grid-col-12">
    <section class="p-post__wrap p-post__col-4 p-post__col-4">
      <div class="p-post__img" data-js="imgSizing">
        <img src="/files/user/images/image_01.jpg" alt="画像01">
      </div>
      <div class="p-post__inner">
        <h1 class="p-post__inner__title">開発合宿に行ってきました。Part.1</h1>
        <div class="p-post__inner__contents">
          <p class="p-post__inner__contents__txt">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。</p>
        </div>
        <div class="p-post__inner__detail">
          <i class="fa fa-clock-o"></i> <time>August 7, 2014</time>
          <i class="fa fa-folder"></i> <a href="">Tutorials</a>, <a href="">Coding</a>
      </div>
      </div>
    </section>
    <section class="p-post__wrap p-post__col-4">
      <div class="p-post__img" data-js="imgSizing">
        <img src="/files/user/images/image_02.jpg" alt="画像02">
      </div>
      <div class="p-post__inner">
        <h1 class="p-post__inner__title">開発合宿に行ってきました。Part.1</h1>
        <div class="p-post__inner__contents">
          <p class="p-post__inner__contents__txt">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。</p>
        </div>
        <div class="p-post__inner__detail">
          <i class="fa fa-clock-o"></i> <time>August 7, 2014</time>
          <i class="fa fa-folder"></i> <a href="">Tutorials</a>, <a href="">Coding</a>
      </div>
      </div>
    </section>
    <section class="p-post__wrap p-post__col-4">
      <div class="p-post__img" data-js="imgSizing">
        <img src="/files/user/images/image_03.jpg" alt="画像03">
      </div>
      <div class="p-post__inner">
        <h1 class="p-post__inner__title">開発合宿に行ってきました。Part.1</h1>
        <div class="p-post__inner__contents">
          <p class="p-post__inner__contents__txt">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。</p>
        </div>
        <div class="p-post__detail">
          <i class="fa fa-clock-o"></i> <time>August 7, 2014</time>
          <i class="fa fa-folder"></i> <a href="">Tutorials</a>, <a href="">Coding</a>
      </div>
      </div>
    </section>
    <section class="p-post__wrap p-post__col-4">
      <div class="p-post__img" data-js="imgSizing">
        <img src="/files/user/images/image_04.jpg" alt="画像04">
      </div>
      <div class="p-post__inner">
        <h1 class="p-post__inner__title">開発合宿に行ってきました。Part.1</h1>
        <div class="p-post__inner__contents">
          <p class="p-post__inner__contents__txt">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。</p>
        </div>
        <div class="p-post__detail">
          <i class="fa fa-clock-o"></i> <time>August 7, 2014</time>
          <i class="fa fa-folder"></i> <a href="">Tutorials</a>, <a href="">Coding</a>
      </div>
      </div>
    </section>
    <section class="p-post__wrap p-post__col-4">
      <div class="p-post__img" data-js="imgSizing">
        <img src="/files/user/images/image_05.jpg" alt="画像05">
      </div>
      <div class="p-post__inner">
        <h1 class="p-post__inner__title">開発合宿に行ってきました。Part.1</h1>
        <div class="p-post__inner__contents">
          <p class="p-post__inner__contents__txt">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。</p>
        </div>
        <div class="p-post__detail">
          <i class="fa fa-clock-o"></i> <time>August 7, 2014</time>
          <i class="fa fa-folder"></i> <a href="">Tutorials</a>, <a href="">Coding</a>
      </div>
      </div>
    </section>
  </article>
</div>
