<%
var page = 'dropdown';
var title = 'Dropdown Menu';
%>
@@include('app/ejs/_include/head.ejs')
<nav class="c-dropdown">
  <ul class="c-dropdown__f-level">
    <li><a href="">Menu01</a>
        <ul class="c-dropdown__s-level">
            <li><a href="">list01</a></li>
            <li><a href="">list02</a></li>
            <li><a href="">list03</a></li>
            <li><a href="">list04</a></li>
        </ul>
    </li>
    <li><a href="">Menu02</a>
        <ul class="c-dropdown__s-level">
            <li><a href="">list01</a></li>
            <li><a href="">list02</a></li>
            <li><a href="">list03</a></li>
        </ul>
    </li>
    <li><a href="">Menu03</a>
        <ul class="c-dropdown__s-level">
            <li><a href="">list01</a></li>
            <li><a href="">list02</a></li>
            <li><a href="">list03</a></li>
        </ul>
    </li>
    <li><a href="">Menu04</a>
        <ul class="c-dropdown__s-level">
            <li><a href="">list01</a></li>
            <li><a href="">list02</a></li>
            <li><a href="">list03</a></li>
        </ul>
    </li>
    <li><a href="">Menu05</a>
        <ul class="c-dropdown__s-level">
            <li><a href="">list01</a></li>
            <li><a href="">list02</a></li>
            <li><a href="">list03</a></li>
        </ul>
    </li>
  </ul>
</nav>