.l-header {
	display: flex;
	align-items: center;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background: #fff;
	z-index: 10000;
	&__inner {
		display: flex;
	}
	&__logo {
		a {
			display: block;
			width: 150px;
			padding: 10px;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	&__glnav {
		flex-grow: 1;
	}
}