<%
var page = 'imgTxt';
var title = 'imgTxt';
%>
@@include('app/ejs/_include/head.ejs')
@@include('app/ejs/_include/header.ejs')

<div class="l-container--huge p-article">
  <div class="p-article__wrap c-imageText">
    <div class="c-imageText__picture--left">
      <img src="/files/user/images/image_01.jpg" alt="画像01">
      <p class="c-imageText__caption">画像のキャプションが入ります。画像のキャプションが入ります。</p>
    </div>
    <p class="c-text">画像左配置＋テキストです。画像左配置＋テキストです。<br>画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。<br>画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。</p>
  </div>

  <div class="c-imageText p-article__wrap">
    <div class="c-imageText__picture--left">
      <img src="/files/user/images/image_02.jpg" alt="画像02">
      <p class="c-imageText__caption">画像のキャプションが入ります。画像のキャプションが入ります。</p>
    </div>
    <p class="c-text">画像左配置＋テキストです。画像左配置＋テキストです。<br>画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。<br>画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。</p>
  </div>

  <div class="c-imageText p-article__wrap">
    <div class="c-imageText__picture--left">
      <img src="/files/user/images/image_03.jpg" alt="画像02">
      <p class="c-imageText__caption">画像のキャプションが入ります。画像のキャプションが入ります。</p>
    </div>
    <p class="c-text">画像左配置＋テキストです。画像左配置＋テキストです。<br>画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。<br>画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。</p>
  </div>

  <div class="c-imageText p-article__wrap">
    <div class="c-imageText__picture--left" alt="画像03">
      <img src="/files/user/images/image_04.jpg">
      <p class="c-imageText__caption">画像のキャプションが入ります。画像のキャプションが入ります。</p>
    </div>
    <p class="c-text">画像左配置＋テキストです。画像左配置＋テキストです。<br>画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。<br>画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。画像左配置＋テキストです。</p>
  </div>


</div>
