<footer class="l__footer">
	<div class="l__footer__inner l-container--large">
		<div class="l__footer__nav">
			<ul class="l__footer__nav__list"><a class="l__footer__nav__list--title" href="" title="">会社案内 [What's CBC]</a>
		    <li><a href="" title="">社長あいさつ</a></li>
		    <li><a href="" title="">会社概要</a></li>
		    <li><a href="" title="">IR情報</a></li>
		    <li><a href="" title="">CSR</a></li>
		    <li><a href="" title="">サービスエリア</a></li>
		    <li><a href="" title="">コーポレート・ガバナンス</a></li>
		    <li><a href="" title="">受賞歴</a></li>
		    <li><a href="" title="">ニュースリリース</a></li>
		    <li><a href="" title="">ENGLISH</a></li>
			</ul>
		</div>
		<div class="l__footer__nav">
			<ul class="l__footer__nav__list">
				<a class="l__footer__nav__list--title" href="" title="">会社案内 [What's CBC]</a>
		    <li><a href="" title="">社長あいさつ</a></li>
		    <li><a href="" title="">会社概要</a></li>
		    <li><a href="" title="">IR情報</a></li>
		    <li><a href="" title="">CSR</a></li>
		    <li><a href="" title="">サービスエリア</a></li>
		    <li><a href="" title="">コーポレート・ガバナンス</a></li>
		    <li><a href="" title="">受賞歴</a></li>
		    <li><a href="" title="">ニュースリリース</a></li>
		    <li><a href="" title="">ENGLISH</a></li>
			</ul>
		</div>
		<div class="l__footer__nav">
			<ul class="l__footer__nav__list"><a class="l__footer__nav__list--title" href="" title="">会社案内 [What's CBC]</a>
		    <li><a href="" title="">社長あいさつ</a></li>
		    <li><a href="" title="">会社概要</a></li>
		    <li><a href="" title="">IR情報</a></li>
		    <li><a href="" title="">CSR</a></li>
		    <li><a href="" title="">サービスエリア</a></li>
		    <li><a href="" title="">コーポレート・ガバナンス</a></li>
		    <li><a href="" title="">受賞歴</a></li>
		    <li><a href="" title="">ニュースリリース</a></li>
		    <li><a href="" title="">ENGLISH</a></li>
			</ul>
		</div>
	</div>
</footer>
</body>
</html>
