<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<!-- Style Sheet -->
<link rel="stylesheet" href="/files/user/css/style.css" media="all" title="no title" charset="utf-8">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
<!-- Script -->
<script src="/files/user/js/scripts.js" charset="utf-8"></script>
</head>
<body>
