 <header class="l-header">
  <div class="l-container--large l-header__inner">
    <div class="l-header__logo">
    	<a href="/"><img src="/files/user/images/logo.png" alt="logo"></a>
    </div>
    <div class="c-glnav l-header__glnav" data-js="globalNav">
      <div class="c-glnav__btn" data-js="globalNav-btn">
        <span class="c-glnav__btn__bars"></span>
      </div>
      <div class="c-glnav__inner">
        <ul class="c-glnav__list">
          <% if(page=='nav'){%><li class="c-glnav__list__item is-active"><% }else{ %><li class="c-glnav__list__item"> <%}%><a href="/nav/">Navigation</a></li>
          <% if(page=='grid'){%><li class="c-glnav__list__item is-active"><% }else{ %><li class="c-glnav__list__item"> <%}%><a href="/grid/">Grid</a></li>
          <% if(page=='blog'){%><li class="c-glnav__list__item is-active"><% }else{ %><li class="c-glnav__list__item"> <%}%><a href="/blog/">Blog</a></li>
          <% if(page=='slider'){%><li class="c-glnav__list__item is-active"><% }else{ %><li class="c-glnav__list__item"> <%}%><a href="/slider/">Slider</a></li>
          <% if(page=='imgTxt'){%><li class="c-glnav__list__item is-active"><% }else{ %><li class="c-glnav__list__item"> <%}%><a href="/imgTxt/">imgTxt</a></li>
          <li class="c-glnav__list__lang"><a href="" title="">ENGLISH</a> / <a href="" title="">中文</a></li>
        </ul>
      </div><!-- /.c-glnav__inner -->
    </div><!-- /.c-glnav -->
  </div>
</header><!-- /.l-header -->