<%
var page = 'grid';
var title = 'Grid';
%>
@@include('app/ejs/_include/head.ejs')
@@include('app/ejs/_include/header.ejs')

<div class="l-container--huge p-post">
  <div class="p-slide1 p-slide" style="width: 100%;">
    <h1 class="u-fz18">Basic slide</h1>
    <div class="flexslider" data-js="flexslider">
      <ul class="slides">
        <li>
          <img src="/files/user/images/flexslider/flexslider_01.jpg" />
        </li>
        <li>
          <img src="/files/user/images/flexslider/flexslider_02.jpg" />
        </li>
        <li>
          <img src="/files/user/images/flexslider/flexslider_03.jpg" />
        </li>
        <li>
          <img src="/files/user/images/flexslider/flexslider_04.jpg" />
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="p-slide2 p-slide">
    <h1 class="u-fz18">Thumbnail ControlNav Pattern</h1>
    <div class="flexslider" data-js="flexslider">
      <ul class="slides c-slides">
        <li data-thumb="/files/user/images/flexslider/flexslider_01.jpg">
          <img src="/files/user/images/flexslider/flexslider_01.jpg" />
        </li>
        <li data-thumb="/files/user/images/flexslider/flexslider_02.jpg">
          <img src="/files/user/images/flexslider/flexslider_02.jpg" />
        </li>
        <li data-thumb="/files/user/images/flexslider/flexslider_03.jpg">
          <img src="/files/user/images/flexslider/flexslider_03.jpg" />
        </li>
        <li data-thumb="/files/user/images/flexslider/flexslider_04.jpg">
          <img src="/files/user/images/flexslider/flexslider_04.jpg" />
        </li>
      </ul>
    </div>
  </div> -->
</div>
